{% extends 'base.html' %}



{% block content %}

{% if name %}
    <h1>Student Added!</h1>
    <br/>
{% for our_student in our_students %}
    {{ our_student.id }}. {{our_student.name
    }} - {{our_student.email }} <br/>

{% endfor %}

{% else %}
    <h1>Student list</h1>
    <br/>
    <form method="POST">
    {{ form.hidden_tag() }}

    {{ form.name.label(
    class= "form-label") }}

    {{ form.name(
    class= "form-control") }}

    {{ form.email.label(
    class= "form-label") }}

    {{ form.email(
    class= "form-control") }}

    {{ form.submit(class="btn 
    btn-secondary") }}
    
</form>

<br/><br/><br/>
{% for our_student in our_students %}
    {{ our_student.id }}. {{our_student.name
    }} - {{our_student.email }} <br/>

{% endfor %}

{% endif %}

{% endblock %}
