<html>
<body>
    <h1>Add a new student</h1>
    <p> 
        <div class='form'
            <form method='POST' action=''>
                <!-- hidden_tag() is required for form validation -->
                {{ form.hidden_tag() }} 
                <!-- Each field displays its label followed by the input field itself -->
                {{ form.stud_name.label }} {{ form.stud_name }}
                <br>
                {{ form.phone.label }} {{ form.phone }}
                <br>
                {{ form.course.label }} {{ form.course }}
                <br>
                <!-- form.submit is a button -->
                {{ form.submit }}
                <br>
            </form>        
    </div>
</p>
</body>
</html>